/* - old version 'babel'
{
    "presets": [
        ["env", {
            "targets": {
                "browser": [
                    "last 5 versions", 
                    "ie >= 8"
                ]
            }
        }]
    ]
}
 */

 // new version
 {
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage",
            "corejs": "3",
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}